/* ######################### MENU STYLE #########################*/
#imSite { position: relative; }
#imMnMn { text-align: left; }
#imMnMn > ul { z-index: 10001; display: inline-block; }
#imMnMn li > ul { z-index: 10002; }

/* Main Menu */

#imMnMn ul, #imPgMn ul {padding:0;margin:0;list-style-type:none; }
#imMnMn > ul > li { position: relative; margin-top: 4px; }
#imMnMn > ul > li:first-child { margin-top: 0; }
/* Links */
#imMnMnNode0 { background-image: url('../menu/index.png'); height: 26px; width: 115px; }
#imMnMnNode0 .imMnMnFirstBg { height: 26px; width: 115px; }
#imMnMnNode0:hover { background: none; background-image: none; }
#imMnMnNode0:hover .imMnMnFirstBg { background-image: url('../menu/index_h.png'); height: 26px; width: 115px;}
#imMnMnNode0.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode0.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/index_h.png'); height: 26px; width: 115px;}
#imMnMnNode3 { background-image: url('../menu/education.png'); height: 26px; width: 115px; }
#imMnMnNode3 .imMnMnFirstBg { height: 26px; width: 115px; }
#imMnMnNode3:hover { background: none; background-image: none; }
#imMnMnNode3:hover .imMnMnFirstBg { background-image: url('../menu/education_h.png'); height: 26px; width: 115px;}
#imMnMnNode3.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode3.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/education_h.png'); height: 26px; width: 115px;}
#imMnMnNode4 { background-image: url('../menu/professional-experience.png'); height: 26px; width: 115px; }
#imMnMnNode4 .imMnMnFirstBg { height: 26px; width: 115px; }
#imMnMnNode4:hover { background: none; background-image: none; }
#imMnMnNode4:hover .imMnMnFirstBg { background-image: url('../menu/professional-experience_h.png'); height: 26px; width: 115px;}
#imMnMnNode4.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode4.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/professional-experience_h.png'); height: 26px; width: 115px;}
#imMnMnNode5 { background-image: url('../menu/research.png'); height: 26px; width: 115px; }
#imMnMnNode5 .imMnMnFirstBg { height: 26px; width: 115px; }
#imMnMnNode5:hover { background: none; background-image: none; }
#imMnMnNode5:hover .imMnMnFirstBg { background-image: url('../menu/research_h.png'); height: 26px; width: 115px;}
#imMnMnNode5.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode5.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/research_h.png'); height: 26px; width: 115px;}
#imMnMnNode6 { background-image: url('../menu/publications.png'); height: 26px; width: 115px; }
#imMnMnNode6 .imMnMnFirstBg { height: 26px; width: 115px; }
#imMnMnNode6:hover { background: none; background-image: none; }
#imMnMnNode6:hover .imMnMnFirstBg { background-image: url('../menu/publications_h.png'); height: 26px; width: 115px;}
#imMnMnNode6.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode6.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/publications_h.png'); height: 26px; width: 115px;}
#imMnMnNode7 { background-image: url('../menu/projects.png'); height: 26px; width: 115px; }
#imMnMnNode7 .imMnMnFirstBg { height: 26px; width: 115px; }
#imMnMnNode7:hover { background: none; background-image: none; }
#imMnMnNode7:hover .imMnMnFirstBg { background-image: url('../menu/projects_h.png'); height: 26px; width: 115px;}
#imMnMnNode7.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode7.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/projects_h.png'); height: 26px; width: 115px;}
#imMnMnNode8 { background-image: url('../menu/teaching.png'); height: 26px; width: 115px; }
#imMnMnNode8 .imMnMnFirstBg { height: 26px; width: 115px; }
#imMnMnNode8:hover { background: none; background-image: none; }
#imMnMnNode8:hover .imMnMnFirstBg { background-image: url('../menu/teaching_h.png'); height: 26px; width: 115px;}
#imMnMnNode8.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode8.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/teaching_h.png'); height: 26px; width: 115px;}
#imMnMnNode9 { background-image: url('../menu/events.png'); height: 26px; width: 115px; }
#imMnMnNode9 .imMnMnFirstBg { height: 26px; width: 115px; }
#imMnMnNode9:hover { background: none; background-image: none; }
#imMnMnNode9:hover .imMnMnFirstBg { background-image: url('../menu/events_h.png'); height: 26px; width: 115px;}
#imMnMnNode9.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode9.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/events_h.png'); height: 26px; width: 115px;}
#imMnMn .imMnMnFirstBg .imMnMnTxt {display: none;}
#imMnMn > ul > li.imMnMnSeparator { background: transparent url('../res/separatorv.png') no-repeat center center; width: 115px; height: 10px; }
#imMnMn .imMnMnFirstBg { position: relative; display: block; background-repeat: no-repeat; cursor: pointer; width: 100%; }
#imMnMn a { border: none; cursor: pointer; }
#imMnMn .imMnMnTxt { text-overflow: ellipsis; white-space: nowrap; }


/* MENU POSITION : VERTICAL VerticalOneColumn */
#imMnMn ul .autoHide, #imMnMn ul div .autoHide { display: none; }

/* ######################### MAIN MENU POSITION #########################*/

/* div: Menu container*/
#imMnMn { z-index:10000; }
#imMnMn > ul { position: relative; }
#imMnMn > ul > li > ul { position: absolute; }

/* First level menu style */
#imMnMn > ul > li { width:115px; }
#imMnMn > ul > li span { display:block; padding:0;}
#imMnMn a { display: block; width:115px;}

/* ########################## SUB MENU POSITION #########################*/

#imMnMn ul ul li .imMnMnBorder { overflow: hidden; }

/* End of file menu.css */